body {
	text-align: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 17884b5 (exercise 08)
.view1 {
    display: flex;
    flex-direction: row;
}

h2 {
    text-align: center;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 48px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #fff;
    z-index: 2;
    background-color: #000;
    color: #fff;
}

=======
h1 {
	color: green;
}

#geeks {
	font-size: 16px;
	font-weight: bold;
}

#gfg {
	color: green;
	font-size: 20px;
	font-weight: bold;
}
>>>>>>> 0a92776 (exercise seven is done)
<<<<<<< HEAD
=======
h1 {
	color: green;
}

#geeks {
	font-size: 16px;
	font-weight: bold;
}

#gfg {
	color: green;
	font-size: 20px;
	font-weight: bold;
}
>>>>>>> 18bbc0b650296aa5361d210e6508fca045d214e6
=======
>>>>>>> 17884b5 (exercise 08)
